<!doctype html>
	<head>
		<title>Input</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
	</head>

    <body>
        <nav class=" teal darken-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GeoFeed</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Go Back</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/">Go Back</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card">
                    <div class="row">
                        <form class="col s12" action="{{ url_for('inputPage') }}" method=post>
                            <div class="container">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="Title" type="text" class="validate" name=title>
                                        <label for="Title">Title</label>
                                    </div>

									<div class="input-field col s12">
							  			<input id="Description" type="text" class="validate" name=desc>
							 			<label for="Description">Description</label>
									</div>
									<div class="input-field col s12">
										<input id="GPSLat" type="hidden" name=gpsLat>
										<input id="GPSLong" type="hidden" name=gpsLong>
									</div>
								</div>
								<h6 class="grey-text">Radius (meters)</h6>
								<div class="row">
									<div class="col m9 s6">
										<form action="#">
								    			<p class="range-field">
								      				<input type="range" id="radius" min="0" max="1000" name=rad>
								    			</p>
										</form>
									</div>
									<div class="col m3 s4">
										<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    											<i class="material-icons right">send</i>
 										</button>
									</div>
								</div>
					      		</div>
					    	</form>
					</div>
				</div>
				<div class="card">
					<div class="card-image">
						<img width="600" id="mapPreview" src="http://maps.googleapis.com/maps/api/staticmap?center=40.443315,-79.944547&zoom=16&scale=2&size=600x500&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Clabel:%7C40.443315,-79.944547">
						<!--<span class="card-title">Preview</span>-->
					</div>
				</div>
			</div>
	  	</div>
		<!--
	  	<footer class="page-footer orange">
	   		<div class="container">
				Made for <a class="center-align orange-text text-lighten-3" href="http://2016.hackcmu.com">Hack CMU 2016</a>
			</div>
	  	</footer>
		-->
	</body>

	<script type="text/javascript">
		var x = document.getElementById("GPSLat")
		var y = document.getElementById("GPSLong")
		function getLocation() {
		  console.log("button was pressed");
		  if ("geolocation" in navigator) {
		    navigator['geolocation'].getCurrentPosition(showPosition, showError);
		  }
		  else {
		    x.value = "rip";
		    y.value = "rip";
		  }
		}

		function showPosition(position) {
		  x.value = position.coords.latitude;
		  y.value = position.coords.longitude;

		  //yeah...
		  var s = "http://maps.googleapis.com/maps/api/staticmap?center=" + x.value + "," + y.value + "&zoom=16&scale=2&size=600x500&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Clabel:%7C" + x.value + "," + y.value
		  document.getElementById("mapPreview").src = s
		}

		function showError(error) {
		    switch(error.code) {
			case error.PERMISSION_DENIED:
			    x.value = "User denied the request for Geolocation."
			    break;
			case error.POSITION_UNAVAILABLE:
			    x.value = "Location information is unavailable."
			    break;
			case error.TIMEOUT:
			    x.value = "The request to get user location timed out."
			    break;
			case error.UNKNOWN_ERROR:
			    x.value = "An unknown error occurred."
			    break;
		    }
		}
		getLocation()
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.button-collapse').sideNav();
		});
	</script>
</html>

