{% extends "template.html" %}
{% block body %}
<h2>Welcome, {{name}}</h2>
<p id="demo"></p>
<input type="button" onclick="tryOk()" value="try" class="btn-large waves-effect waves-light orange"/>
<script type="text/javascript">
var x = document.getElementById("demo");
function tryOk() {
  console.log("button was pressed");
  if ("geolocation" in navigator) {
    x.innerHTML = "wow";
    navigator['geolocation'].getCurrentPosition(showPosition, showError);
  }
  else {
    x.innerHTML = "rip";
  }
}

function showPosition(position) {
  document.getElementById("demo").innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}

</script>
{% endblock %}